<template name="Header">
    <!--navbar-->
    <nav class="navbar">
        <div class="navbar-wrapper">
            <div class="sidebar-minimize">
                <a href="" class="sidebar-collapse">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </a>
            </div>
            <div class="header-menu">
                <a href="/" class="navbar-brand">Flex Project</a>
                <ul class="align-right icon-right">
                    <!-- <li>
                        <div class="header-search">
                            <input type="text" placeholder="Search....">
                            <a href="" class="search-button">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li> -->
                    <!-- <li>
                        <a href="/" class="nav-link">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                        </a>
                    </li> -->
                    <li>
                        <a href="javascript:void(0);" id="fetch-profile" class="nav-link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                {{> User_profile}}
            </div>
        </div>
    </nav>
</template>