<template name="Sidebar">
    <div class="sidebar">
        <div class="sidebar-content">
            <div class="logo">
                <a href="/" style="font-size:20px" class="mini-logo">FL</a>
                <a href="/" style="font-size:20px" class="whole-logo">FLEX</a>
            </div>
            <div class="user">
                <div class="user-img">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </div>
                <a href="" class="user-info collapsed">
                    <span>
                        {{currentUser.username}}
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </span>
                </a>
                <div class="dropdown" style="display:none">
                    <ul class="dropdown-menu">
                        <li class="menu-item">
                            <a class="menu-link" id="change-pass" href="">Change Password</a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" id="logout-user" href="/login">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <li class="menu-item {{#if currentRouteIs 'home-page'}} active {{else}} inactive {{/if}}">
                        <a href="/" class="menu-link">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="menu-item {{#if currentRouteIs 'configurations-list-page'}} active {{else}} inactive {{/if}}">
                        <a href="/configurations-list" class="menu-link">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            <p>Configurations</p>
                        </a>
                    </li>
                    <li class="menu-item {{#if currentRouteIs 'reports-page'}} active {{else}} inactive {{/if}}">
                        <a href="/reports" class="menu-link">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <p>Reports</p>
                        </a>
                    </li>
                    <li class="menu-item {{#if currentRouteIs 'issue-tracker-page'}} active {{else}} inactive {{/if}}">
                        <a href="/issue-tracker" class="menu-link">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <p>Issue Tracker</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{> Change_password}}
</template>