<template name="Alert_message">
    {{#if failure}}
    <div class="visible" id="alert-message">
        <div class="alert-box failure">
            {{failure}}
            <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
    </div>
    {{else}}
        {{#if success}}
        <div class="visible" id="alert-message" style="display: block">
            <div class="alert-box success">
                {{success}}
                <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        </div>
        {{/if}}
    {{/if}}
</template>