<template name="Kanban">
    <div class="kanban-section">
        <div class="wrap">
            <div class="draglist">
                <div class="row">
                    <div class="col-3">
                        <div class="kanban-card">
                            <div class="data"></div>
                            <div class="kanban-content">
                                <div class="card-header">
                                    <p>Issues</p>
                                </div>
                                <div class="card-body">
                                    <div class="add-content">
                                        <div class="drag-button">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div id='issues' class='dragdrop'>
                                        <div class="draggable">
                                            <div class="vertical-icon">
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255);border-right: 1px solid rgb(255, 255, 255);height: 20px;padding-left: 1px;width: 1px;"></span>
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); height: 20px; margin-left: 1px; padding-left: 1px; width: 1px;"></span>
                                            </div>
                                            <div class="drag-title">
                                                <p>Issues</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="kanban-card">
                            <div class="data"></div>
                            <div class="kanban-content">
                                <div class="card-header">
                                    <p>Analyzed</p>
                                </div>
                                <div class="card-body">
                                    <div class="add-content">
                                        <div class="drag-button">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div id='analyzed' class='dragdrop'>
                                        <div class="draggable">
                                            <div class="vertical-icon">
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255);border-right: 1px solid rgb(255, 255, 255);height: 20px;padding-left: 1px;width: 1px;"></span>
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); height: 20px; margin-left: 1px; padding-left: 1px; width: 1px;"></span>
                                            </div>
                                            <div class="drag-title">
                                                <p>Analyzed</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="kanban-card">
                            <div class="data"></div>
                            <div class="kanban-content">
                                <div class="card-header">
                                    <p>Action</p>
                                </div>
                                <div class="card-body">
                                    <div class="add-content">
                                        <div class="drag-button">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div id='action' class='dragdrop'>
                                        <div class="draggable">
                                            <div class="vertical-icon">
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255);border-right: 1px solid rgb(255, 255, 255);height: 20px;padding-left: 1px;width: 1px;"></span>
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); height: 20px; margin-left: 1px; padding-left: 1px; width: 1px;"></span>
                                            </div>
                                            <div class="drag-title">
                                                <p>Action</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-3">
                        <div class="kanban-card">
                            <div class="data"></div>
                            <div class="kanban-content">
                                <div class="card-header">
                                    <p>Cleared</p>
                                </div>
                                <div class="card-body">
                                    <div class="add-content">
                                        <div class="drag-button">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div id='cleared' class='dragdrop'>
                                        <div class="draggable">
                                            <div class="vertical-icon">
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255);border-right: 1px solid rgb(255, 255, 255);height: 20px;padding-left: 1px;width: 1px;"></span>
                                                <span data-radium="true" style="border-left: 1px solid rgb(255, 255, 255); border-right: 1px solid rgb(255, 255, 255); height: 20px; margin-left: 1px; padding-left: 1px; width: 1px;"></span>
                                            </div>
                                            <div class="drag-title">
                                                <p>Cleared</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>